*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
  background-color:gray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI Emoji', 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI', 'Helvetica Neue', sans-serif;
  
  
}

main {
  flex: 1;
}

.logo {
  max-width: 100px; 
  height: auto; 
}

#cotizacionesTabla {
  display: none;
  margin-top: 20px;
  width: 100%;
  background-color:grey;
  margin: auto;
  text-align: center;
}

#cotizacionesTabla table {
  width: 100%;
  background-color:rgb(3, 139, 148);
  margin: auto;
 
}

#cotizacionesBody td {
  padding: 8px;
  background-color:turquoise
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px; 
  }

  .logo{
    max-width: 50px; 
    height: auto; 
    
  }


  footer {
    height: 200px;
  }

  .footer-container{
    flex-direction: row;
    justify-content: space-around; 
    text-align: center;
    
  }


  .social-links,
  .legal-links,
  .copyright,
  .support-contact {
    margin-bottom: 10px;
  }
}